@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaisei+HarunoUmi&family=Poppins:wght@500;600;700&family=Roboto&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Kaisei HarunoUmi', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

